/* body {
  background: #363f48;
  color: white;
  font: normal 12px "Open Sans", sans-serif;
  margin-top: 20px;
}

.timer {
  list-style: none;
  margin: 75px 0;
  padding: 0;
  display: block;
  text-align: center;
}

.field {
  display: inline-block;
}

.field .value {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
}

.field .label {
  color: #a7abb1;
  font-size: 14px;
} */
